# ignoring package-lock.json as we have Greenkeeper.io to prevent new versions
# of dependencies to break the local dev environment
package-lock.json

.env
.nyc_output
coverage
node_modules

# type definitions are generated before publish
lib/index.d.ts
lib/index.js.flow

logs
*.log
npm-debug.log*

*.orig

.settings.xml
.settings

.c9revisions
.DS_Store
.idea

testAuth.json

apidoc/

tsconfig.json
