# ignoring package-lock.json as we have Greenkeeper.io to prevent new versions
# of dependencies to break the local dev environment
package-lock.json

.env
.nyc_output
coverage
node_modules

# type definitions are generated before publish
index.d.ts
index.js.flow

# API DOCs are generated before publish
doc/
