.container {
  /* width: 100%; */

  --description-background-color: white;
  --code-background-color: #191A18;
  --code-foreground-color: white;
  
  /* SHIM: It feels like we should be able to set --main-column-width to 100%,
           but this is causing scrollbars, perhaps due to the use of CSS grid.
           In the mean time, this gets the job done… */
  --nav-column-width: calc(1.45rem * 9);
  --grid-gap: calc(1.45rem * 3);
  --ol-margin-left: calc(1.45rem * 1);
  --main-column-width: calc(100vw - var(--nav-column-width) - var(--grid-gap) - var(--ol-margin-left));
}

.container pre {
  background-color: var(--code-background-color);
  color: var(--code-foreground-color);
  padding: calc(1.45em / 2) 1.45em;
  width: var(--main-column-width);
  overflow-x: auto;
}

.table {
  width: var(--main-column-width);
  overflow-x: auto;
}

.nav {
  position: sticky;
  top: 0;
  max-height: calc(100vh - 5.125em); /* header height / font size == 102.5px / 20px */
  overflow-y: auto;
  background: hsla(0, 0%, 100%, 0.95);
}

.nav h1 {
  display: inline;
}

.nav button {
  display: block;
  margin-bottom: 0.75em;
}


@media (max-width: 40em) {
  .hidden {
    display: none !important;
  }
}
@media (min-width: 40em) {
  .nav button {
    display: none !important;
  }
}

