name: Test
"on":
  push:
    branches:
      - master
      - next
      - beta
      - dependabot/npm_and_yarn/**
      - 16.x
      - 17.x
  pull_request:
    types:
      - opened
      - synchronize
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node_version:
          - 10
          - 12
          - 14
    steps:
      - uses: actions/checkout@master
      - name: "Test with Node.js ${{ matrix.node_version }}"
        uses: actions/setup-node@v2
        with:
          version: "${{ matrix.node_version }}"
      - run: npm ci
      - run: npm run start-fixtures-server &
      - run: sleep 3
      - run: npm run test
      - run: "npm run test:typescript"
